{% extends "base2.html" %}

{% block body_block %}
{% load static %}
<div id="overviews" class="section wb">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <div class="message-box">
                    	<img src="{% static 'uploads/Next-icon.png'%}" width="40" height="40" class="d-inline-block align-top" alt="">                      
                        <h2>Supercharge teamwork </h2>
                        <p class="lead">
						Move faster and get more done with Docs, Sheets, Slides, and Drive Enterprise's built-in collaboration features.</p>                      
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="message-box">       
                    	<img src="{% static 'uploads/Next-icon.png'%}" width="40" height="40" class="d-inline-block align-top" alt="">                
                        <h2>Boost productivity with AI</h2>
                        <p class="lead">
						Google AI connects users to the content they're looking for automatically and through powerful search.
						</p>                      
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="message-box">
                    	<img src="{% static 'uploads/Next-icon.png'%}" width="40" height="40" class="d-inline-block align-top" alt="">                       
                        <h2>Integrates with Microsoft Office and other tools</h2>
                        <p class="lead">
						Make adoption seamless with Drive Enterprise's third-party tool integration, including the ability to open and comment on Microsoft Office files.	
						</p>                      
                    </div>
                </div>

                <div id="overviews" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>2018 BEST STORAGE COMPANY</h4>
                        <h2>Store any file and Folder </h2>
                        <p class="lead">
                        Keep photos, stories, designs, drawings, recordings, videos and more. Your first 10 GB of storage are free with a Google Account.</p>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis montes, nascetur ridiculus mus. Sed vitae rutrum neque. </p>
                       
                    </div>
                </div>
        
        <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/brand.png'%}" height="400" alt="" class="img-responsive img-rounded">
                        <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img class="card-img-top" src="{% static 'images/banner-img.png'%}" height="400" width="100" alt="Card image cap">
                    </div>
                </div>
                </div>       
        <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Work better together</h2>
                        <p class="lead">
							Drive Enterprise helps teams move faster with collaboration tools like Docs, Sheets, and Slides — all on a secure, cloud-based platform that makes it easy for users to share, store, and access files. </p>
                       
                    </div>
                </div>
               </div>
	          </div>
    	    </div>
            </div>            
          </div>
        </div>		               

{% endblock %} 